# Go
# Build your Go project.
# Add steps that test, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go

trigger:
- master
- dev

pool:
  vmImage: 'ubuntu-latest'

variables:
  GOVERSION: 1.13
  GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
  GOBIN:  '$(GOPATH)/bin' # Go binaries path

steps:
- script: |
    docker run -d -p 3306:3306 --name mysql8 -e MYSQL_ALLOW_EMPTY_PASSWORD=yes mysql:8
  displayName: 'Start Mysql docker'

- task: GoTool@0
  displayName: 'Use Go $(GOVERSION)'
  inputs:
    version: '$(GOVERSION)'

- task: Go@0
  inputs:
    command: 'get'
    arguments: 'github.com/axw/gocov/...'

- task: Go@0
  inputs:
    command: 'get'
    arguments: 'github.com/AlekSi/gocov-xml'

- script: |
    $GOBIN/gocov test -v | $GOBIN/gocov-xml > coverage.xml
  workingDirectory: $(System.DefaultWorkingDirectory)
  displayName: "Execute Tests and Generate Coverage Report"

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'
    failIfCoverageEmpty: true
  displayName: "Publish Coverage Results"
